# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
sdist/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
MANIFEST

# Virtual environments
.venv/
venv/
ENV/
env/
.env

# Testing
.coverage
.coverage.*
coverage.xml
htmlcov/
.pytest_cache/
.tox/
nosetests.xml
pytest-coverage/

# IDEs
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store

# Distribution / packaging
*.tar.gz
*.whl

# Poetry
poetry.lock

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# pyright
pyrightconfig.json
